body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 1px;
  text-align: center;
}

section {
  margin-top: 2em;
  padding: 1em;
  border: 1px solid white;
  border-radius: 8px;
}
button
{
  cursor: pointer;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  background-color: rgb(4, 135, 158);
}
.marks{
  padding-top: 20px;
  font-size: larger;
  font-weight: 600;
  font-style: oblique;
  color: rgb(0, 140, 255);
}
div{
  padding-top: 20px;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  body {
    background-color: #f0f8ff;
  }

  header {
    font-size: 1.2em;
  }

  section {
    padding: 0.5em;
  }
}

  .correct-answer {
    color: green;
    font-weight: bold;
  }

  .wrong-answer {
    color: red;
    font-weight: bold;
  }

  label.correct {
    background-color: #d4edda; /* light green background */
    border-left: solid green;
    padding: 5px;
  }

  label.wrong {
    background-color: #f8d7da; /* light red background */
    border-left: solid red;
    padding: 5px;
  }

  .quiz-block {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }